<% if @user_items.any? %>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <% @user_items.each do |item| %>
        <div class="col mb-4">
          <div class="card" style="width: 18rem;">
            <% if item.images.attached? %>
              <%= image_tag url_for(item.images.first), class: "card-img-top" %>
            <% else %>
              <p class="text-center">No image available.</p>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= item.title %></h5>
              <p class="card-text"><%= item.description %></p>
              <p><strong>Category:</strong> <%= item.category.name %></p>
              <p><strong>City:</strong> <%= item.city %></p>
              <div class="text-center">
                <%= link_to 'View More', item_path(item), class: "btn btn-primary button-design" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="text-center">No items found.</p>
<% end %>
