<h1 class="text-center"> Change Password </h1>
<div class="container mx-auto w-50">
  <%= form_with model: @user, url: password_path, method: :patch do |form| %>
    <div class="form-group my-3">
      <%= form.label :password, class: "form-label required" %>
      <%= form.password_field :password, class: "form-control ", placeholder: "Enter Your password" %>
    </div>

    <div class="form-group my-3">
      <%= form.label :password_confirmation, class: "form-label required" %>
      <%= form.password_field :password_confirmation, class: "form-control ", placeholder: "Enter Your password" %>
    </div>
  
    <%= form.submit "Change Password", class: "btn btn-primary form-control button-design" %>
  <% end %>
</div>





