<% if Current.user %>
  <div class="container">
    <h4>Search Our Product</h4>
    <%= form_for :search_items, url: search_items_path, method: :get do |form| %>
    
      <%= form.text_field :query, value: params[:search_items].presence && params[:search_items][:query], placeholder: "Search Field" %>
    
      <%= form.text_field :city, value: params[:search_items].presence && params[:search_items][:city], placeholder: "Filter on location" %>
      <%= submit_tag 'Search' %>
    
    <% end %>
  </div>
<% end %>

<% unless @items.nil? %>
  <% if params[:search_items].present? && @items.empty? %>
    <h2 class="text-center">No items found matching your query.</h2>
  <% elsif @items.present? %>
    <h2 class="text-center mb-4 mt-4">Items in Stock. Visit the Buy page to buy the product.</h2>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <% @items.each do |data| %>
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body"> 
                <h5 class="card-title"><%= data.title %></h5>
                <p class="card-text"><%= data.description %></p>
                <p><strong>Category:</strong> <%= data.category%></p>
                <p><strong>City:</strong> <%= data.city %></p>
                <div class="text-center">
                  <%= button_to 'Interested', interested_path(data.id), method: :post, class: "btn btn-primary button-design" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>