<% if Current.user %>
  <div class="container">
    <h4>Search Our Product</h4>
    <%= form_for :search_items, url: search_items_path, method: :get do |form| %>
      <%= form.text_field :query, value: params[:search_items].presence && params[:search_items][:query], placeholder: "Search Field",required: true %>
      <%= form.text_field :data, value: params[:search_items].presence && params[:search_items][:data], placeholder: "Filter on location/Category" %>
      <%= submit_tag 'Search' %>
    <% end %>
  </div>
<% end %>
<% unless @item.nil? %>
  <% if params[:search_items].present? && @item.empty? %>
    <h2 class="text-center">No items found matching your query.</h2>
  <% elsif @item.present? %>
    <h2 class="text-center mb-4 mt-4">Items in Stock. Visit the page to buy the product.</h2>
    <%= render 'partials/product'%>
  <% end %>
<% end %>
<div class="text-center">
  <%= paginate @item, class: 'pagination' %>
</div>
