<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @category, url: categories_path, class: "my-form" do |form| %>
        <div class="form-group mt-4">
          <%= form.label :Add_category, class: 'required' %>
          <%= form.text_field :category, class: "form-control", placeholder: "Enter Category" %>
          <p class='error'><%= show_errors(@category, :category) %></p>
        </div>
        <%= form.submit "Submit",class: " mt-3 form-control button-design" %>
      <% end %>
    </div>
  </div>
</div>
